# onboard LCD
 NET "LCDEN"   LOC = "AA5";  # BANK = 18, Pin name = IO_L2P_18,     Sch name = LCD-E
 NET "LCDRS"   LOC = "V7";   # BANK = 18, Pin name = IO_L11N_CC_18, Sch name = LCD-RS  
 NET "LCDRW"   LOC = "W6";   # BANK = 18, Pin name = IO_L8P_CC_18,  Sch name = LCD-RW  
 NET "LCDD<0>" LOC = "Y8";   # BANK = 18, Pin name = IO_L4P_18,     Sch name = LCD-D0  
 NET "LCDD<1>" LOC = "AB7";  # BANK = 18, Pin name = IO_L1N_18,     Sch name = LCD-D1  
 NET "LCDD<2>" LOC = "AB5";  # BANK = 18, Pin name = IO_L2N_18,     Sch name = LCD-D2  
 NET "LCDD<3>" LOC = "AC4";  # BANK = 18, Pin name = IO_L0P_18,     Sch name = LCD-D3  
 NET "LCDD<4>" LOC = "AB6";  # BANK = 18, Pin name = IO_L1P_18,     Sch name = LCD-D4  
 NET "LCDD<5>" LOC = "AC5";  # BANK = 18, Pin name = IO_L0N_18,     Sch name = LCD-D5  
 NET "LCDD<6>" LOC = "AC7";  # BANK = 18, Pin name = IO_L3P_18,     Sch name = LCD-D6  
 NET "LCDD<7>" LOC = "AD7";  # BANK = 18, Pin name = IO_L3N_18,     Sch name = LCD-D7  
 
 # clock pin for Genesys rev C board
 NET "clkin"   LOC = "AG18"; # Bank = 4, Pin name = IO_L6P_GC_4, Type = GCLK, Sch name = GCLK0
 NET "rstbtn"	LOC = "E7";

# onBoard Leds
 NET "Led<0>"  LOC = "AG8";  # Bank = 22, Pin name = IO_L18P_22,     Sch name = LD0
 NET "Led<1>"  LOC = "AH8";  # Bank = 22, Pin name = IO_L18N_22,     Sch name = LD1
 NET "Led<2>"  LOC = "AH9";  # Bank = 22, Pin name = IO_L17P_22,     Sch name = LD2
 NET "Led<3>"  LOC = "AG10"; # Bank = 22, Pin name = IO_L19P_22,     Sch name = LD3
 NET "Led<4>"  LOC = "AH10"; # Bank = 22, Pin name = IO_L17N_22,     Sch name = LD4
 NET "Led<5>"  LOC = "AG11"; # Bank = 22, Pin name = IO_L19N_22,     Sch name = LD5
 NET "Led<6>"  LOC = "AF11"; # Bank = 22, Pin name = IO_L16P_22,     Sch name = LD6
 NET "Led<7>"  LOC = "AE11"; # Bank = 22, Pin name = IO_L16N_22,     Sch name = LD7
 
 # onBoard SWITCHES
 NET "sw<0>" LOC = "J19"; # Bank = 3, Pin name = IO_L3N_GC_3,      Sch name = SW0
 NET "sw<1>" LOC = "L18"; # Bank = 3, Pin name = IO_L1N_CC_GC_3,   Sch name = SW1
 NET "sw<2>" LOC = "K18"; # Bank = 3, Pin name = IO_L3P_GC_3,      Sch name = SW2
 NET "sw<3>" LOC = "H18"; # Bank = 3, Pin name = IO_L0N_CC_GC_3,   Sch name = SW3
 NET "sw<4>" LOC = "H17"; # Bank = 3, Pin name = IO_L0P_CC_GC_3,   Sch name = SW4
 NET "sw<5>" LOC = "K17"; # Bank = 3, Pin name = IO_L1P_CC_GC_3,   Sch name = SW5
 NET "sw<6>" LOC = "G16"; # Bank = 3, Pin name = IO_L2N_GC_VRP_3,  Sch name = SW6
 NET "sw<7>" LOC = "G15"; # Bank = 3, Pin name = IO_L2P_GC_VRN_3,  Sch name = SW7

# onBoard PUSH BUTTONS 
 NET "btn1" LOC = "G7";  # Bank = 12, Pin name = IO_L17N_12,        Sch name = BTN1
 
# Pmod Connectors
 NET "s_data_out"  LOC = "AD11";   # BANK = 22,  Pin name = IO_L10N_CC_22,   Sch name = JA1
# NET "clk1_dbg"  LOC = "AD9";    # BANK = 22,  Pin name = IO_L9N_CC_22,    Sch name = JA2
# NET "clk2_dbg"  LOC = "AM13";   # BANK = 22,  Pin name = IO_L2N_22,       Sch name = JA3
 NET "serial_clk_out"  LOC = "AM12";   # BANK = 22,  Pin name = IO_L6P_22,       Sch name = JA4

# onBoard USB controller

 NET "UsbEmpty"  LOC = "B13"; # Bank = 20, Pin name = IO_L11P_CC_20,    Sch name = U1-FLAGA
 NET "UsbFull"	 LOC = "A13"; # Bank = 20, Pin name = IO_L8P_CC_20,     Sch name = U1-FLAGB
 NET "UsbRD"	 LOC = "N10"; # Bank = 20, Pin name = IO_L18P_20,       Sch name = U1-SLRD
 NET "UsbDB<0>"  LOC = "G12"; # Bank = 20, Pin name = IO_L13N_20,       Sch name = U1-FD0
 NET "UsbDB<1>"  LOC = "G11"; # Bank = 20, Pin name = IO_L13P_20,       Sch name = U1-FD1
 NET "UsbDB<2>"  LOC = "G13"; # Bank = 20, Pin name = IO_L19N_20,       Sch name = U1-FD2
 NET "UsbDB<3>"  LOC = "L10"; # Bank = 20, Pin name = IO_L12P_VRN_20,   Sch name = U1-FD3
 NET "UsbDB<4>"  LOC = "K9";  # Bank = 20, Pin name = IO_L10N_CC_20,    Sch name = U1-FD4
 NET "UsbDB<5>"  LOC = "L9";  # Bank = 20, Pin name = IO_L16N_20,       Sch name = U1-FD5
 NET "UsbDB<6>"  LOC = "C13"; # Bank = 20, Pin name = IO_L11N_CC_20,    Sch name = U1-FD6
 NET "UsbDB<7>"  LOC = "E13"; # Bank = 20, Pin name = IO_L17N_20,       Sch name = U1-FD7
 NET "UsbClk"    LOC = "J10"; # Bank = 20, Pin name = IO_L9P_CC_20,     Sch name = U1-IFCLK 
 NET "UsbOE"     LOC = "F11"; # Bank = 20, Pin name = IO_L15P_20,       Sch name = U1-SLOE
 NET "UsbWR"     LOC = "M10"; # Bank = 20, Pin name = IO_L16P_20,       Sch name = U1-SLWR
 NET "UsbPktEnd" LOC = "M8";  # Bank = 20, Pin name = IO_L14P_20,       Sch name = U1-PKTEND
 NET "UsbEN"	 LOC = "N9";  # Bank = 20, Pin name = IO_L18N_20,       Sch name = U1-SLCS
 NET "UsbAdr<0>" LOC = "L11"; # Bank = 20, Pin name = IO_L12N_VRP_20,   Sch name = U1-FIFOAD0
 NET "UsbAdr<1>" LOC = "L8";  # Bank = 20, Pin name = IO_L14N_VREF_20,  Sch name = U1-FIFOAD1
